{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h1 class="center thin">University of Windsor Data API - Guide</h1>
    <h2 class="center thin">How to talk to the API, and what endpoints exist :)</h2>
    <hr>
    <br><br>
    <h3 class="thin">Notes:</h3>
    <h5>The "parameter" referred to below is given by the title "q" in a GET request</h5>
    <h5>Example: <code>/api/courses?q=COMP-1000</code> returns information on COMP 1000</h5>
    <h5>Leave the parameter empty to retrieve all data</h5>
    
    <br><br>
    <h3 class="thin">Datasets and API Endpoints:</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dataset</th>
            <th scope="col">API Endpoint</th>
            <th scope="col">Parameter</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Courses</td>
            <td>/api/courses</td>
            <td>Course code</td>
            <td>Contains course code, title, and description</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Staff</td>
            <td>/api/staff</td>
            <td>Staff name</td>
            <td>Contains name, email, phone, title, department, and location</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Buildings</td>
            <td>/api/buildings</td>
            <td>Building name</td>
            <td>Contains building name and location (latitude and longitude)</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Holidays</td>
            <td>/api/holidays</td>
            <td>Date (in format YYYY-MM-DD)</td>
            <td>Contains date and what the holiday/date is</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Emergency Services</td>
            <td>/api/emergency_services</td>
            <td>Service name (ex. Campus Police)</td>
            <td>Contains phone, extension, service name, and website</td>
          </tr>
        </tbody>
      </table>
</div>
<br><br><br>
{% endblock %}