{{ template "boiler-top.html" . }}
<div class="container">
    <h1 class="center thin">University of Windsor Data API - Sources</h1>
    <h2 class="center thin">Where the data in this API has been sourced from</h2>
    <hr>
    <br><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Dataset</th>
            <th scope="col">Source</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Courses</td>
            <td><a href="https://web4.uwindsor.ca/units/registrar/calendars/undergraduate/cur.nsf/inToc/7E4EDF63A9990D72852572C80056F592?OpenDocument">Source</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Staff</td>
            <td><a href="https://www.uwindsor.ca/directory">Source</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Buildings</td>
            <td><a href="http://web2.uwindsor.ca/pac/campusmap/index.php">Source</a> (<a href="http://maps.google.com">Google Maps</a> may have also been used for latitude and longitude)</td>
          </tr>
        </tbody>
      </table>
</div>
<br><br><br>
{{ template "boiler-bottom.html" }}
